mixin organizer(org)
	.organizer
		.organizer__header
			a(href=org.profile)
				.img-wrapper
					img(src=org.image, alt='Techpreneurs organizer - ' + org.name).img-circle
			h4.organizer__name=org.name
			p.organizer__title=org.title
			p.organizer__twitter: a(href='https://twitter.com/' + org.twitter, target='_blank') @#{org.twitter}
